<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AudiophileApplication"
        android:theme="@style/Theme.Audiophile"
        android:label="Audiophile"
        android:icon="@drawable/icon_bluenn"
        android:roundIcon="@drawable/icon_bluenn"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.audiophile" android:host="oauth" android:path="/callback" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".AppIcon1Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_1" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon2Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_2" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon3Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_3" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon4Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_4" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon5Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_5" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon6Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_6" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon7Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_7" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIcon8Alias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_8" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIconBlueNNAlias" android:enabled="true" android:exported="true" android:icon="@drawable/icon_bluenn" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AppIconRedNNAlias" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_red_nn" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <service
            android:name=".playback.MusicService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <receiver
            android:name=".widget.AudiophileWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/audiophile_widget_info" />
        </receiver>
    </application>
</manifest>
